@font-face {
    font-family: 'TRY Vesterbro';
    src: url('TRYVesterbro-Poster.woff2') format('woff2'),
        url('TRYVesterbro-Poster.woff') format('woff'),
        url('TRYVesterbro-Poster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TRYVesterbro-Bold";
  
    src: url("TRYVesterbro-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("TRYVesterbro-Bold.woff") format("woff"), /* Modern Browsers */
      url("TRYVesterbro-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "TRYVesterbro-Regular";
  
    src: url("TRYVesterbro-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("TRYVesterbro-Regular.woff") format("woff"), /* Modern Browsers */
      url("TRYVesterbro-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "GTAmericaMono-Regular";
  
    src: url("GT-America-Mono-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("GT-America-Mono-Regular.woff") format("woff"), /* Modern Browsers */
      url("GT-America-Mono-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'GTSectraFine';
    src: url('GTSectraFine-Regular.woff2') format('woff2'),
        url('GTSectraFine-Regular.woff') format('woff'),
        url('GTSectraFine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}