@font-face {
    font-family: 'TRY Vesterbro';
    src: url('/TRYVesterbro-Poster.9cacf8e0.woff2') format('woff2'),
        url('/TRYVesterbro-Poster.6c9b11ce.woff') format('woff'),
        url('/TRYVesterbro-Poster.7c1dac42.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.documentationPageSection {
  font-size: 1.2rem;
  padding: 1%;
}
.documentationPageSection p {
  padding: 0.5rem 0;
}
.documentationPageSection ul {
  padding: 1rem 0 1rem 3rem;
}
.documentationPageSection h1 {
  padding: 0 0 0 3rem;
  font-size: 2.5rem;
  color: #9D5D82;
}
.documentationPageSection a {
  color: #00497A;
}
.documentationPageSection .themesDocumentation {
  padding: 0.25em;
  overflow: hidden;
}
.documentationPageSection .themesDocumentation li {
  float: left;
  width: 50%;
  padding: 1em;
}
.documentationPageSection .themesDocumentation li {
  float: left;
  width: 50%;
  padding: 1em;
}

.themesDocumentation img {
  display: block;
  width: 100%;
}

.themesDocumentation li:nth-child(odd) {
  clear: left;
}

@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}
.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 1rem;
}

@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 23rem) / 3);
}

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}

.card__side {
  height: 34rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from #DAD6D4, to(#796C63));
  background-image: linear-gradient(to right bottom, #DAD6D4, #796C63);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#DAD6D4), to(#796C63)), url(/card.b1980617.jpg);
  background-image: linear-gradient(to right bottom, #DAD6D4, #796C63), url(/card.b1980617.jpg);
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#24597B), to(#00497A)), url(/card.b1980617.jpg);
  background-image: linear-gradient(to right bottom, #24597B, #00497A), url(/card.b1980617.jpg);
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#9D5D82), to(#4F1722)), url(/card.b1980617.jpg);
  background-image: linear-gradient(to right bottom, #9D5D82, #4F1722), url(/card.b1980617.jpg);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(218, 214, 212, 0.85)), to(rgba(121, 108, 99, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(218, 214, 212, 0.85) rgba(121, 108, 99, 0.85));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.details {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }

  .card__side {
    height: auto;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }

  .card:hover .card__side--front {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  .card__details {
    padding: 1rem 3rem;
  }

  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }

  .card__price-box {
    margin-bottom: 3rem;
  }

  .card__price-value {
    font-size: 4rem;
  }
}
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: auto;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  transform: translate(-50%, -50%) scale(0.25);
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}

.popup__left {
  width: 33.333333%;
  display: table-cell;
}

.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.popup__close:link,
.popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1;
}

.popup__close:hover {
  color: #9D5D82;
}

.keyFeature {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.keyFeature .popup__img {
  display: block;
  width: 100%;
}
.keyFeature .popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 4rem;
  column-gap: 4rem;
  -webkit-column-rule: 1px solid #eee;
  column-rule: 1px solid #eee;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

@media (min-width: 480px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    transition: width 350ms ease;
    width: auto;
    background: #c6e5df;
    color: #222222;
    padding: 2rem;
    position: relative;
  }
  .container nav .style-selector-first {
    grid-column: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }
  .container nav .style-selector-first:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .container nav .style-selector-second {
    grid-column: 2;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }
  .container nav .style-selector-second:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .container nav .style-selector-third {
    grid-column: 3;
    position: relative;
    background-image: url(/three.a334fce9.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }
  .container nav .style-selector-third:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .container nav .style-selector-fourth {
    grid-column: 4;
    position: relative;
    background-image: url(/four.b72f6141.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }
  .container nav .style-selector-fourth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .container nav .style-selector-fifth {
    grid-column: 5;
    position: relative;
    background-image: url(/five.dd2a19df.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }
  .container nav .style-selector-fifth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .container nav .style-selector-sixth {
    grid-column: 6;
    position: relative;
    background-image: url(/six.04897191.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }
  .container nav .style-selector-sixth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .container .jumbo {
    padding: 20px;
  }
  .container .jumbo .text-box {
    background-size: 100%;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: span col4-start;
    z-index: 10;
  }
  .container .jumbo .text-box .heading {
    font-size: 6rem;
    font-family: "TRY Vesterbro";
    font-weight: normal;
    font-style: normal;
    padding-top: 5vh;
    letter-spacing: 0em;
    line-height: 0.8em;
  }
  .container .jumbo .text-box .heading__first {
    display: block;
    overflow: hidden;
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-duration: 0.8s;
  }
  .container .jumbo .text-box .heading__second {
    height: 21vh;
    display: block;
    margin-left: 5rem;
    overflow: hidden;
    border-right: 0.15em solid transparent;
    animation: hideing 0.8s linear, typing 2s 0.75s steps(40, end), blink-caret 0.75s 0.75s step-end infinite;
    animation-duration: 0.9s;
  }
  .container .jumbo .text-box .heading__btn {
    position: absolute;
    color: #f4f1d0;
    background-color: #0E0C0C;
    font-family: IBM Plex Sans;
    font-size: 1.2em;
    z-index: 100;
    margin-top: -6.8rem;
    margin-left: 16rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
  }
  .container .jumbo .text-box .heading__btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
  }
  .container .jumbo .text-box .heading__btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(14, 12, 12, 0.26);
  }
  .container .jumbo__img--container {
    grid-area: 2 2;
    background-position-x: left;
    background-position-y: bottom;
  }
  .container .jumbo__img--container .jumbo__img--1 {
    background-image: url("/rinpa_duo.f5b000ac.jpg");
    position: absolute;
    z-index: 3;
    height: 30vh;
    width: 30vh;
    background-size: cover;
    border-radius: 50%;
    top: 54%;
    right: 25%;
    background-position: bottom;
  }
  .container .jumbo__img--container .jumbo__img--1:hover {
    z-index: 9;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
  }
  .container .jumbo__img--container .jumbo__img--2 {
    z-index: 2;
    background-image: url("/jan_duo.d5a40610.jpg");
    background-position: center;
    background-size: 35rem;
    position: absolute;
    height: 45vh;
    width: 30vh;
    top: 34%;
    right: 46%;
    background-position: bottom;
  }
  .container .jumbo__img--container .jumbo__img--2:hover {
    z-index: 9;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
  }
  .container .jumbo__img--container .jumbo__img--3 {
    z-index: 1;
    background-image: url("/munari_duo.35d95cdb.jpg");
    position: absolute;
    height: 30vh;
    width: 30vh;
    top: 31%;
    right: 28%;
    background-position: center;
    background-size: 35rem;
    clip-path: polygon(75% 0, 0 69%, 100% 100%);
    background-position: bottom;
  }
  .container .jumbo__img--container .jumbo__img--3:hover {
    z-index: 9;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
  }
}
@media (min-width: 768px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto 1fr auto;
    /* fluid animation of the sidebar only for Firefox :( */
    /* transition: grid-template-columns 350ms ease; */
  }
  .container .jumbo {
    padding: 20px;
  }
  .container .jumbo .text-box {
    background-size: 100%;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: span col4-start;
    z-index: 10;
  }
  .container .jumbo .text-box .heading {
    font-size: 8em;
    font-family: "TRY Vesterbro";
    font-weight: normal;
    font-style: normal;
    padding-top: 5vh;
    letter-spacing: 0em;
    line-height: 0.8em;
  }
  .container .jumbo .text-box .heading__first {
    display: block;
    overflow: hidden;
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
    animation-duration: 0.8s;
  }
  .container .jumbo .text-box .heading__second {
    height: 21vh;
    display: block;
    margin-left: 5rem;
    overflow: hidden;
    border-right: 0.15em solid transparent;
    margin: 0 5rem;
    animation: hideing 0.8s linear, typing 2s 0.75s steps(40, end), blink-caret 0.75s 0.75s step-end infinite;
    animation-duration: 0.9s;
  }
  .container .jumbo .text-box .heading__btn {
    position: absolute;
    color: #f4f1d0;
    background-color: #0E0C0C;
    font-family: IBM Plex Sans;
    font-size: 1.5em;
    z-index: 100;
    margin-top: -3.8rem;
    margin-left: 26rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
  }
  .container .jumbo .text-box .heading__btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
  }
  .container .jumbo .text-box .heading__btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(14, 12, 12, 0.26);
  }
  .container .jumbo__img--container {
    grid-area: 2 2;
    background-position-x: left;
    background-position-y: bottom;
  }
  .container .jumbo__img--container .jumbo__img--1 {
    background-image: url("/rinpa_duo.f5b000ac.jpg");
    position: absolute;
    z-index: 3;
    height: 40vh;
    width: 40vh;
    background-size: cover;
    border-radius: 50%;
    top: 49%;
    right: 5%;
    background-position: bottom;
  }
  .container .jumbo__img--container .jumbo__img--1:hover {
    z-index: 9;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
  }
  .container .jumbo__img--container .jumbo__img--2 {
    z-index: 2;
    background-image: url("/jan_duo.d5a40610.jpg");
    background-position: center;
    background-size: 35rem;
    position: absolute;
    height: 65vh;
    width: 50vh;
    top: 12%;
    right: 16%;
    background-position: bottom;
  }
  .container .jumbo__img--container .jumbo__img--2:hover {
    z-index: 9;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
  }
  .container .jumbo__img--container .jumbo__img--3 {
    z-index: 1;
    background-image: url("/munari_duo.35d95cdb.jpg");
    position: absolute;
    height: 50vh;
    width: 50vh;
    top: 11%;
    right: 4%;
    background-position: center;
    background-size: 35rem;
    clip-path: polygon(75% 0, 0 69%, 100% 100%);
    background-position: bottom;
  }
  .container .jumbo__img--container .jumbo__img--3:hover {
    z-index: 9;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
  }

  /* drawer script */
  /*.container.opened-nav {
      grid-template-columns: 400px 1fr;
  }*/
  /* drawer sidebar */
  nav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    transition: width 350ms ease;
    width: 10, 3rem;
    height: auto;
    background: #c6e5df;
    color: #222222;
    padding: 2rem;
    position: relative;
    padding-top: 9vh;
  }

  .opened-doc-list {
    font-size: 1rem;
    line-height: 1.7rem;
    color: #222222;
    text-decoration: none;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 350ms;
  }

  .nav-list {
    position: absolute;
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: -0.1em;
    line-height: 1.1em;
    color: #222222;
    text-decoration: none;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 350ms;
    transform: translateY(3.8rem);
  }

  .close-container {
    position: absolute;
    width: 2rem;
    height: 2rem;
    margin-top: 0rem;
    cursor: pointer;
  }

  .leftright {
    height: 0.4rem;
    width: 2.5rem;
    position: absolute;
    margin-top: 2.4rem;
    background-color: #c33149;
    border-radius: 0.2rem;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
  }

  .rightleft {
    height: 0.4rem;
    width: 2.5rem;
    position: absolute;
    margin-top: 2.4rem;
    background-color: #c33149;
    border-radius: 0.2rem;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in;
  }

  .close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #2113e4;
  }

  .close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #2113e4;
  }

  .close-container:hover label {
    opacity: 1;
  }

  /*  
  .close-menu {
      position: absolute;
      font-size: 2rem;
      color: $primary-color;
      text-decoration: none;
      z-index: 1000;
      cursor: pointer;
      transition: opacity 350ms;
  }*/
  .close-menu-doc {
    position: relative;
    color: #222222;
    display: block;
    margin-left: 2rem;
  }

  .placeholder > li:nth-of-type(1) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(2) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(3) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(4) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(5) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(6) {
    margin-bottom: 0rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(1):hover {
    background-position: left bottom;
    font-weight: 700;
    transition: all 0.7s ease-out;
    text-transform: uppercase;
  }

  .placeholder > li:nth-of-type(2):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(3):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(4):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(5):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(6):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(1):hover ~ .placeholder > li:nth-of-type(2) {
    background-color: rgba(195, 49, 73, 0.5);
  }

  .opened-doc-list {
    left: 2rem;
  }

  .close-menu {
    right: 2rem;
  }

  .container.opened-nav .opened-doc-list,
.close-menu {
    opacity: 0;
    visibility: hidden;
  }

  .container.opened-nav .close-menu {
    opacity: 1;
    visibility: visible;
  }

  .container.opened-nav nav {
    width: 300px;
  }

  /* end drawer script */
  .style-selector-first {
    grid-row: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-second {
    grid-row: 2;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-third {
    grid-row: 3;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-fourth {
    grid-row: 4;
    position: relative;
    background-image: url(/four.b72f6141.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-fifth {
    grid-row: 5;
    position: relative;
    background-image: url(/five.dd2a19df.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-sixth {
    grid-row: 6;
    position: relative;
    background-image: url(/six.04897191.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-first:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-second:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-third:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-fourth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-fifth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-sixth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}
.navbar {
  grid-column: span 2;
  padding: 1rem;
  text-align: center;
  font-size: 1.4em;
  background-color: #222222;
  color: #f4f1d0;
}

main {
  color: #222222;
  background-color: #f4f1d0;
  flex: 1;
  padding: 0;
  margin: 0;
  border: 0;
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tutorial {
  padding: 20px;
}

footer {
  grid-column: span 2;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #222222;
  color: #f4f1d0;
  font-size: 1em;
  text-align: center;
  line-height: 0.1em;
  letter-spacing: 0.1em;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

@keyframes hideing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}
.hidden {
  display: none;
}

.translate {
  transform: translateX(10rem);
}

.opened-doc-list:focus {
  background-color: #c6e5df;
}

.navIcons {
  background-color: transparent;
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #f4f1d0;
  padding: 0.8em;
  line-height: 0.1em;
}

.navIcons:visited {
  text-decoration: none;
}

.navbar__logo--image {
  float: left;
}

.navIcons {
  float: right;
}

.navIcons:hover {
  font-weight: 700;
  transform: translateY(-0.1rem);
  text-shadow: 0 1rem 2rem rgba(244, 241, 208, 0.445);
}

.navIcons:active {
  font-weight: 700;
  transform: translateY(-0.1rem);
  text-shadow: 0 0.5rem 1rem rgba(244, 241, 208, 0.493);
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.disclaimerPageSection, .aboutPageSection {
  font-size: 1.2rem;
  padding: 3% 10% 3% 4%;
}
.disclaimerPageSection p, .aboutPageSection p {
  padding: 0.5rem 0;
}
.disclaimerPageSection ul, .aboutPageSection ul {
  padding: 1rem 0 1rem 2rem;
}
.disclaimerPageSection h1, .aboutPageSection h1 {
  padding: 0;
  font-size: 2.5rem;
  color: #9D5D82;
}
.disclaimerPageSection h2, .aboutPageSection h2 {
  padding: 1rem 0 0 0;
  font-size: 1.5rem;
  color: #24597B;
}
.disclaimerPageSection a, .aboutPageSection a {
  color: #00497A;
}

.documentationPageSection {
  font-size: 1.2rem;
  padding: 1%;
}
.documentationPageSection p {
  padding: 0.5rem 0;
}
.documentationPageSection ul {
  padding: 1rem 0 1rem 3rem;
}
.documentationPageSection h1 {
  padding: 0 0 0 3rem;
  font-size: 2.5rem;
  color: #9D5D82;
}
.documentationPageSection a {
  color: #00497A;
}
.documentationPageSection .themesDocumentation {
  padding: 0.25em;
  overflow: hidden;
}
.documentationPageSection .themesDocumentation li {
  float: left;
  width: 50%;
  padding: 1em;
}
.documentationPageSection .themesDocumentation li {
  float: left;
  width: 50%;
  padding: 1em;
}
.documentationPageSection .themesDocumentation img {
  display: block;
  width: 100%;
}
.documentationPageSection .themesDocumentation li:nth-child(odd) {
  clear: left;
}
.documentationPageSection .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.documentationPageSection .active, .documentationPageSection .collapsible:hover {
  background-color: #ccc;
}
.documentationPageSection .description {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
@media screen and (min-width: 40em) {
  .documentationPageSection .g li {
    width: 33.3333333333%;
  }
  .documentationPageSection .g li:nth-child(3n+1) {
    clear: left;
  }
  .documentationPageSection .g li:nth-child(odd) {
    clear: none;
  }
}
@media screen and (min-width: 55em) {
  .documentationPageSection .g li {
    width: 25%;
  }
  .documentationPageSection .g li:nth-child(4n+1) {
    clear: left;
  }
  .documentationPageSection .g li:nth-child(3n+1) {
    clear: none;
  }
}
@media screen and (min-width: 72em) {
  .documentationPageSection .g li {
    width: 20%;
  }
  .documentationPageSection .g li:nth-child(5n+1) {
    clear: left;
  }
  .documentationPageSection .g li:nth-child(4n+1) {
    clear: none;
  }
}
@media screen and (min-width: 90em) {
  .documentationPageSection .g li {
    width: 16.666666666%;
  }
  .documentationPageSection .g li:nth-child(6n+1) {
    clear: left;
  }
  .documentationPageSection .g li:nth-child(5n+1) {
    clear: none;
  }
}

.icn {
  width: 50px;
  height: 50px;
  pointer-events: none;
}

/*# sourceMappingURL=/style.97fcb138.css.map */