@font-face {
    font-family: 'TRY Vesterbro';
    src: url('/TRYVesterbro-Poster.9cacf8e0.woff2') format('woff2'),
        url('/TRYVesterbro-Poster.6c9b11ce.woff') format('woff'),
        url('/TRYVesterbro-Poster.7c1dac42.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* original sidebar */
  nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    transition: width 350ms ease;
    width: auto;
    background: #c6e5df;
    color: #222222;
    padding: 2rem;
    position: relative;
  }

  .style-selector-first {
    grid-column: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-second {
    grid-column: 2;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-third {
    grid-column: 3;
    position: relative;
    background-image: url(/three.a334fce9.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-fourth {
    grid-column: 4;
    position: relative;
    background-image: url(/four.b72f6141.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-fifth {
    grid-column: 5;
    position: relative;
    background-image: url(/five.dd2a19df.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-sixth {
    grid-column: 6;
    position: relative;
    background-image: url(/six.04897191.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-first:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-second:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-third:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-fourth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-fifth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-sixth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}
@media (min-width: 768px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto 1fr auto;
    /* fluid animation of the sidebar only for Firefox :( */
    /* transition: grid-template-columns 350ms ease; */
  }

  /* drawer script */
  /*.container.opened-nav {
      grid-template-columns: 400px 1fr;
  }*/
  /* drawer sidebar */
  nav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    transition: width 350ms ease;
    width: 10, 3rem;
    height: auto;
    background: #c6e5df;
    color: #222222;
    padding: 2rem;
    position: relative;
    padding-top: 9vh;
  }

  .opened-doc-list {
    font-size: 1rem;
    line-height: 1.7rem;
    color: #222222;
    text-decoration: none;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 350ms;
  }

  .nav-list {
    position: absolute;
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: -0.1em;
    line-height: 1.1em;
    color: #222222;
    text-decoration: none;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 350ms;
    transform: translateY(3.8rem);
  }

  .close-container {
    position: absolute;
    width: 2rem;
    height: 2rem;
    margin-top: 0rem;
    cursor: pointer;
  }

  .leftright {
    height: 0.4rem;
    width: 2.5rem;
    position: absolute;
    margin-top: 2.4rem;
    background-color: #c33149;
    border-radius: 0.2rem;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
  }

  .rightleft {
    height: 0.4rem;
    width: 2.5rem;
    position: absolute;
    margin-top: 2.4rem;
    background-color: #c33149;
    border-radius: 0.2rem;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in;
  }

  .close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #2113e4;
  }

  .close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #2113e4;
  }

  .close-container:hover label {
    opacity: 1;
  }

  /*  
  .close-menu {
      position: absolute;
      font-size: 2rem;
      color: $primary-color;
      text-decoration: none;
      z-index: 1000;
      cursor: pointer;
      transition: opacity 350ms;
  }*/
  .close-menu-doc {
    position: relative;
    color: #222222;
    display: block;
    margin-left: 2rem;
  }

  .placeholder > li:nth-of-type(1) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(2) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(3) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(4) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(5) {
    margin-bottom: 1rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(6) {
    margin-bottom: 0rem;
    padding: 0.82rem 0;
    background: linear-gradient(to right, #c33149 50%, #DFE575 50%);
    background-size: 300% 200%;
    background-position: right bottom;
  }

  .placeholder > li:nth-of-type(1):hover {
    background-position: left bottom;
    font-weight: 700;
    transition: all 0.7s ease-out;
    text-transform: uppercase;
  }

  .placeholder > li:nth-of-type(2):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(3):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(4):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(5):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(6):hover {
    background-position: left bottom;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.7s ease-out;
  }

  .placeholder > li:nth-of-type(1):hover ~ .placeholder > li:nth-of-type(2) {
    background-color: rgba(195, 49, 73, 0.5);
  }

  .opened-doc-list {
    left: 2rem;
  }

  .close-menu {
    right: 2rem;
  }

  .container.opened-nav .opened-doc-list,
.close-menu {
    opacity: 0;
    visibility: hidden;
  }

  .container.opened-nav .close-menu {
    opacity: 1;
    visibility: visible;
  }

  .container.opened-nav nav {
    width: 300px;
  }

  /* end drawer script */
  .style-selector-first {
    grid-row: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-second {
    grid-row: 2;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-third {
    grid-row: 3;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-fourth {
    grid-row: 4;
    position: relative;
    background-image: url(/four.b72f6141.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-fifth {
    grid-row: 5;
    position: relative;
    background-image: url(/five.dd2a19df.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-sixth {
    grid-row: 6;
    position: relative;
    background-image: url(/six.04897191.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vh;
    left: 0rem;
  }

  .style-selector-first:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-second:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-third:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-fourth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-fifth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .style-selector-sixth:hover {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}
.navbar {
  grid-column: span 2;
  padding: 1rem;
  text-align: center;
  font-size: 1.4em;
  background-color: #222222;
  color: #f4f1d0;
}

main {
  color: #222222;
  background-color: #f4f1d0;
  flex: 1;
  padding: 0;
  margin: 0;
  border: 0;
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.jumbo {
  padding: 20px;
}

.tutorial {
  padding: 20px;
}

/*.reader {
  flex: 1;
  padding: 0;
  margin: 0;
  border: 0;
  overflow-y: auto;
}*/
footer {
  grid-column: span 2;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #222222;
  color: #f4f1d0;
  font-size: 1em;
  text-align: center;
  line-height: 0.1em;
  letter-spacing: 0.1em;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.text-box {
  background-size: 100%;
  position: absolute;
  grid-column-start: 1;
  grid-column-end: span col4-start;
  z-index: 10;
}

.heading {
  font-size: 8em;
  font-family: "TRY Vesterbro";
  font-weight: normal;
  font-style: normal;
  padding-top: 5vh;
  letter-spacing: 0em;
  line-height: 0.8em;
}

.heading__first {
  display: block;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-duration: 0.8s;
}

.heading__second {
  height: 21vh;
  display: block;
  margin-left: 5rem;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  margin: 0 5rem;
  animation: hideing 0.8s linear, typing 2s 0.75s steps(40, end), blink-caret 0.75s 0.75s step-end infinite;
  animation-duration: 0.9s;
}

@keyframes hideing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}
.hidden {
  display: none;
}

.translate {
  transform: translateX(10rem);
}

.opened-doc-list:focus {
  background-color: #c6e5df;
}

.navIcons {
  background-color: transparent;
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #f4f1d0;
  padding: 0.8em;
  line-height: 0.1em;
}

.navIcons:visited {
  text-decoration: none;
}

.navbar__logo--image {
  float: left;
}

.navIcons {
  float: right;
}

.navIcons:hover {
  font-weight: 700;
  transform: translateY(-0.1rem);
  text-shadow: 0 1rem 2rem rgba(244, 241, 208, 0.445);
}

.navIcons:active {
  font-weight: 700;
  transform: translateY(-0.1rem);
  text-shadow: 0 0.5rem 1rem rgba(244, 241, 208, 0.493);
}

.jumbo__img--container {
  grid-area: 2 2;
  background-position-x: left;
  background-position-y: bottom;
}

.jumbo__img--1 {
  background-image: linear-gradient(rgba(195, 49, 73, 0.6), rgba(32, 8, 12, 0.6)), url("/bembo.35364a0b.jpg");
  position: absolute;
  z-index: 3;
  height: 40vh;
  width: 40vh;
  background-size: cover;
  border-radius: 50%;
  top: 49%;
  right: 5%;
  background-position: bottom;
}

.jumbo__img--1:hover {
  z-index: 9;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
}

.jumbo__img--2 {
  z-index: 2;
  background-image: linear-gradient(rgba(230, 152, 197, 0.6), rgba(143, 35, 97, 0.6)), url("/jan_2.7917d7aa.jpg");
  background-position: center;
  background-size: 30rem;
  position: absolute;
  height: 65vh;
  width: 50vh;
  top: 12%;
  right: 16%;
  background-position: bottom;
}

.jumbo__img--2:hover {
  z-index: 9;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
}

.jumbo__img--3 {
  z-index: 1;
  background-image: linear-gradient(rgba(33, 19, 228, 0.6), rgba(6, 3, 40, 0.6)), url("/munari.9cd8112c.jpg");
  position: absolute;
  height: 50vh;
  width: 50vh;
  top: 11%;
  right: 4%;
  background-position: center;
  background-size: 35rem;
  clip-path: polygon(75% 0, 0 69%, 100% 100%);
  background-position: bottom;
}

.jumbo__img--3:hover {
  z-index: 9;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.heading__btn {
  position: absolute;
  color: #f4f1d0;
  background-color: #0E0C0C;
  font-family: IBM Plex Sans;
  font-size: 1.5em;
  z-index: 100;
  margin-top: -3.8rem;
  margin-left: 26rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.heading__btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(14, 12, 12, 0.26);
}

.heading__btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(14, 12, 12, 0.26);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.disclaimerPageSection, .aboutPageSection {
  font-size: 1.2rem;
  padding: 3% 10% 3% 4%;
}
.disclaimerPageSection p, .aboutPageSection p {
  padding: 0.5rem 0;
}
.disclaimerPageSection ul, .aboutPageSection ul {
  padding: 1rem 0 1rem 2rem;
}
.disclaimerPageSection h1, .aboutPageSection h1 {
  padding: 0;
  font-size: 2.5rem;
  color: #9D5D82;
}
.disclaimerPageSection h2, .aboutPageSection h2 {
  padding: 1rem 0 0 0;
  font-size: 1.5rem;
  color: #24597B;
}
.disclaimerPageSection a, .aboutPageSection a {
  color: #00497A;
}

.documentationPageSection {
  font-size: 1.2rem;
  padding: 1%;
}
.documentationPageSection p {
  padding: 0.5rem 0;
}
.documentationPageSection ul {
  padding: 1rem 0 1rem 3rem;
}
.documentationPageSection h1 {
  padding: 0 0 0 3rem;
  font-size: 2.5rem;
  color: #9D5D82;
}
.documentationPageSection a {
  color: #00497A;
}
.documentationPageSection .themesDocumentation {
  padding: 0.25em;
  overflow: hidden;
}
.documentationPageSection .themesDocumentation li {
  float: left;
  width: 50%;
  padding: 1em;
}
.documentationPageSection .themesDocumentation li {
  float: left;
  width: 50%;
  padding: 1em;
}
.documentationPageSection .themesDocumentation img {
  display: block;
  width: 100%;
}
.documentationPageSection .themesDocumentation li:nth-child(odd) {
  clear: left;
}
.documentationPageSection .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.documentationPageSection .active, .documentationPageSection .collapsible:hover {
  background-color: #ccc;
}
.documentationPageSection .description {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
@media screen and (min-width: 40em) {
  .documentationPageSection .g li {
    width: 33.3333333333%;
  }
  .documentationPageSection .g li:nth-child(3n+1) {
    clear: left;
  }
  .documentationPageSection .g li:nth-child(odd) {
    clear: none;
  }
}
@media screen and (min-width: 55em) {
  .documentationPageSection .g li {
    width: 25%;
  }
  .documentationPageSection .g li:nth-child(4n+1) {
    clear: left;
  }
  .documentationPageSection .g li:nth-child(3n+1) {
    clear: none;
  }
}
@media screen and (min-width: 72em) {
  .documentationPageSection .g li {
    width: 20%;
  }
  .documentationPageSection .g li:nth-child(5n+1) {
    clear: left;
  }
  .documentationPageSection .g li:nth-child(4n+1) {
    clear: none;
  }
}
@media screen and (min-width: 90em) {
  .documentationPageSection .g li {
    width: 16.666666666%;
  }
  .documentationPageSection .g li:nth-child(6n+1) {
    clear: left;
  }
  .documentationPageSection .g li:nth-child(5n+1) {
    clear: none;
  }
}

.icn {
  width: 50px;
  height: 50px;
  pointer-events: none;
}

/*# sourceMappingURL=/style.97fcb138.css.map */