//FONTS
@import url("https://fonts.googleapis.com/css?family=Fanwood+Text:400,400i&display=swap");

@font-face {
  font-family: "roycroft_initialsregular";
  src: url("./styles/first/roycroft-webfont.woff2") format("woff2"),
    url("./styles/first/roycroft-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "japanese";
  src: url("./styles/second/ZinHenaKokuryu-RCF.ttf") format("truetype");
}

//tschichold
@font-face {
  font-family: 'FuturaFuturisBlackC';
  src: url('./styles/third/FuturaFuturisBlackC.woff2') format('woff2'),
      url('./styles/third/FuturaFuturisBlackC.woff') format('woff'),
      url('./styles/third/FuturaFuturisBlackC.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaFuturisC';
  src: url('./styles/third/FuturaFuturisC.woff2') format('woff2'),
      url('./styles/third/FuturaFuturisC.woff') format('woff'),
      url('./styles/third/FuturaFuturisC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WaddemChooNFW01';
  src: url('./styles/third/WaddemChooNFW01-Regular.woff2') format('woff2'),
      url('./styles/third/WaddemChooNFW01-Regular.woff') format('woff'),
      url('./styles/third/WaddemChooNFW01-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//

//VARIABLES
$manuzio-text-color: #222;
$manuzio-link-color: #777;
$manuzio-first-letter: #222;
$rimpa-text-color: #210102;
$rimpa-light-gradient: #7b562a;

//tschichold
$font-futura-black: 'FuturaFuturisBlackC';
$font-futura: 'FuturaFuturisC';
$font-transito: 'WaddemChooNFW01';
//

//media queries
@media screen and (max-width: 600px) {
  body {
    font-size: smaller;
  }
}

//tschichold
/* 

  @media (max-width: 800px) {
  article > header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    transform: rotate(0);
    //padding-top: 5rem;
    //padding-bottom: 5rem; }
      h1 {
      margin-top: -5px; }
      p:first-of-type {
      margin-left: 1rem;
      -ms-flex-item-align: start;
      align-self: start; } } }
@media (max-width: 700px) {
  header .references {
    
    grid-column: 3 / -1;
    grid-row: 6; } }
@media (max-width: 500px) {
  article > header {
    
    width: 66vw;
    grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
    grid-template-rows: auto auto auto auto; }
  header h1 {
    grid-column: 1 / -1; }
  header h3 {
    grid-column: 5;
    grid-row: 2 / 4;
    margin-right: -5px; }
  header p {
    grid-column: 1 / -1;
    grid-row: 5;
    margin-left: 0; } } 
@media (min-width: 1000px) {
  article > header {
    padding-bottom: 15rem; } }
@media (min-width: 1300px) {
  article > header {
    padding-bottom: 25rem; } } 

    */
//

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.reader.manuzio {
  article {
    padding: 10% 20% 10% 20%;
    background: url("./styles/first/background.jpg") no-repeat 50% fixed/cover;
    box-sizing: border-box;
    font-family: "Fanwood Text", serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3;
    color: $manuzio-text-color;
    font-size: 1.3rem;
    text-align: justify;

    section {
      padding: 5% 0;
    }

    a:-webkit-any-link {
      color: $manuzio-link-color;
    }
    p {
      padding: 0.2rem 0;
    }
    figure {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 2rem;

      figcaption {
        font-style: normal;
        font-size: smaller;
        padding: 1rem;
      }
      img {
        height: auto;
        width: 80%;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-align: center;
        -webkit-filter: grayscale(100%) sepia(0.2) contrast(100%);
        filter: grayscale(100%) sepia(0.2) contrast(100%);
        border-width: 0.3rem;
        border-style: double;

        &:hover {
          -webkit-filter: none;
        }

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }
    }
    table {
      table-layout: fixed;
      width: 100%;
      border-width: 0.3rem;
      border-style: double;
      padding: 0.2rem;
      border-collapse: collapse;
      text-align: left;
      line-height: 1.5rem;
      font-size: 1rem;
    }
    th {
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      border: 0.1rem solid $manuzio-text-color;
      padding: 0.2rem;
      font-style: normal;
    }
    td {
      padding: 0.2rem;
      border: 0.1rem solid $manuzio-text-color;
    }
    h1, h2, h3, h4 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.3rem;
      padding: 2rem 0;
      font-style: normal;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 1rem 0;
    }
    h3 {
      font-size: 1.3rem;
      font-weight: 500;
      padding: 1rem 0;
    }
    h4 {
      font-size: 1.1rem;
      font-weight: 400;
      padding: 1rem 0;
    }

    main {
      h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.3rem;
        padding: 2rem 0;
        font-style: normal;
      }
      h2 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        padding: 2rem 0;
        text-align: center;
        letter-spacing: 0.2rem;
        font-style: normal;
      }
      h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        padding: 1rem 0;
        text-align: center;
        font-style: normal;
      }
      p:first-of-type:first-letter {
        float: left;
        color: $manuzio-first-letter;
        font-size: 13rem;
        line-height: 10rem;
        text-align: left;
        padding: 0.2rem;
        font-family: "roycroft_initialsregular";
        font-style: normal;
      }
    }
    header {
      text-align: center;
      h1:after {
        content: "";
        display: inline-block;
        background-image: url(./styles/first/manuzio-logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        width: 100%;
        padding-top: 70%;
    }
    &:after {
      content: "";
        display: inline-block;
        background-image: url(./styles/first/decoration.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 100%;
        padding-top: 30%;
    }
    }
    footer {
      text-align: center;
    }
  }
  .left,
  .right {
    article {
      padding: 4%;
    }
  }
}

//second style

.reader.rimpa {
  article {
    padding: 10% 20% 10% 20%;
    background: url("./styles/second/background.jpg") no-repeat 50% fixed/cover;
    box-sizing: border-box;
    font-family: "japanese", serif;
    font-weight: 400;
    line-height: 1.7;
    color: $rimpa-text-color;
    font-size: 1.3rem;
    text-align: justify;

    a:-webkit-any-link {
      color: #777;
    }
    p {
      padding: 0.5rem 0;
    }
    figure {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 2rem;

      figcaption {
        font-style: italic;
        font-size: smaller;
        padding: 1rem;
      }
      img {
        height: auto;
        width: 80%;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-align: center;
      }
      &:hover {
        -webkit-filter: none;
      }
      &:first-of-type {
        margin-bottom: 1rem;
      }
    }
    table {
      table-layout: fixed;
      width: 100%;
      border-width: 0.3rem;
      padding: 0.2rem;
      border-collapse: collapse;
    }
    th {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      border: 0.1rem solid $rimpa-text-color;
      padding: 0.2rem;
      font-style: normal;
    }
    td {
      padding: 0.2rem;
      border: 0.1rem solid $rimpa-text-color;
    }
    p,
    h1,
    h2,
    h3,
    h4 {
      background: -webkit-linear-gradient(
        left,
        $rimpa-text-color,
        $rimpa-light-gradient
      );
      background: -o-linear-gradient(
        right,
        $rimpa-text-color,
        $rimpa-light-gradient
      );
      background: -moz-linear-gradient(
        right,
        $rimpa-text-color,
        $rimpa-light-gradient
      );
      background: linear-gradient(
        to right,
        $rimpa-text-color,
        $rimpa-light-gradient
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h1, h2, h3, h4 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.3rem;
      padding: 2rem 0;
      font-style: normal;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      padding: 1rem 0;
    }
    h3 {
      font-size: 2rem;
      font-weight: 500;
      padding: 1rem 0;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      padding: 1rem 0;
    }

    main {
      h1, h2, h3, h4 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.3rem;
        padding: 2rem 0;
        font-style: normal;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
      }
      h3 {
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem 0;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1rem 0;
      }
    }
    header {
      text-align: center;
    }
    footer {
      text-align: center;
    }
  }
}

//

//STYLE: JAN TSCHICHOLD

.reader.third {

  .reader.left {

    article {
      main {
        //padding: 5rem;
        margin: 2rem 4rem 6rem 2rem;
        background-color: #f6f3ea;
        text-align: justify;
        column-count: 1; 
      }
    }
  }

  .reader.right {

    article {
      main {
        //padding: 5rem;
        margin: 2rem 4rem 6rem 2rem;
        background-color: #f6f3ea;
        text-align: justify;
        column-count: 1; 
      }
    } 
  }

  article {
    background-color: #f6f3ea;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: $font-futura;
    /*font-family: 'Futura W01', helvetica, sans-serif;*/
    font-size: 100%;
    color: rgba(12, 12, 10, 0.8);
    font-weight: 300; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 

    
      header {
      width: 55vw;
      padding-top: 14vh;
      //min-height: 100vh;
      //padding: 1rem 1vw 1rem; 
      display: grid;
      margin: auto;
      grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
      grid-template-rows: auto 1fr 1fr auto auto;
      grid-gap: 1rem;
      transform: rotate(-30deg);

        h1, h3 {
        font-size: calc(1rem + 1.4vw);
        margin: 0;
        font-weight: 700;
        line-height: 1.2em; 
      }

        h1 {
        /* autoprefixer: off */
        color: #f9423a;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        grid-column: 3 / 4;
        grid-row: 2 / 5;
        justify-self: end;
        margin-top: -10px;
        margin-right: -10px;
      }

        h3 {
        grid-column: 1 / 4;
        grid-row: 1 / 2; //
        text-align: right; 
        align-self: end; //
        font-size: 1.3rem;
        border-bottom: 15px solid #f9423a;
  
          &::first-letter {
          color: #0077c0;
          font-size: calc(3rem + 2vw);
          font-family: $font-transito;
        }
      }

        h4 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: right; 
        font-weight: 700;
        text-transform: uppercase;
  
          &::first-letter {
          color: #0077c0;
          font-size: calc(2rem + 2vw);
          font-family: $font-transito;
        }
      }

        p {
          margin: 0;
          grid-column: 4 / 5;
          grid-row: 2 / 3;
          color: rgba(12, 12, 10, 0.8);
          border-bottom: none;
          text-transform: uppercase;
          color: rgba(12, 12, 10, 0.8);
          font-weight: 700; 
        
            &:first-of-type {
            /* autoprefixer: off */
            border-top: 5px solid rgba(12, 12, 10, 0.8);
            border-bottom: 5px solid rgba(12, 12, 10, 0.8);
            font-weight: 700;
            grid-row: 3;
            grid-column: 4 / 6;
            align-self: start; 
          }
        }

        tr {
          grid-auto-flow: column;
           
          td {
            width: 20px;
          }
        }

        img {
          width: 80%;
          height: auto;
          object-fit: contain;
          display: block;
          margin-left: auto;
          margin-right: auto;
          clip-path: circle();
          -webkit-filter: grayscale(100%) contrast(100%);
          filter: grayscale(100%) contrast(100%);
        }
  
        figure {

            //grid-column: 4 / 6;
            //grid-row: 1 / 3;

            img {
            //works only in the header
            width: 80%;
            //width: 200%; //
            //margin-left: -50px;        
            height: auto;
            object-fit: contain;
            display: block;
            margin-left: auto;
            margin-right: auto;
            clip-path: circle();
            -webkit-filter: grayscale(100%) contrast(100%);
            filter: grayscale(100%) contrast(100%);
          }
  
            figcaption {
            width: 200px;
            padding: 3px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            border-left: 5px solid rgba(12, 12, 10, 0.8);
            border-right: 5px solid rgba(12, 12, 10, 0.8);
          }
      }
    }

      main {
      //padding: 5rem;
      margin: 2rem 4rem 6rem 2rem;
      background-color: #f6f3ea;
      text-align: justify;
      column-count: 2;
      column-gap: 4vw;

      p {
        font-size: 1rem;
      }

      figure {
          width: auto;

          img {
          width: 100%;
          height: auto;
          object-fit: contain;
          margin-top: 2%;
          display: block;
          //margin-left: auto;
          //margin-right: auto;
          -webkit-filter: grayscale(100%) contrast(100%);
          filter: grayscale(100%) contrast(100%);
        }

          figcaption {
          font-style: $font-futura-black;
          font-weight: 700;
        }
      }
      
    }

      h1, h2, h3 {
      margin: 0;
      text-transform: uppercase; 
    }

      footer {
      background-color: #f6f3ea;
      color: rgba(12, 12, 10, 0.8);
      line-height: 1.2rem;
      border-top: 15px solid #f9423a;
      border-bottom: 15px solid #f9423a;
      text-align: center;
      font-style: $font-futura;
    }

  }

        
        /*header p {
        margin: 2rem 0 0; }*/

        /* article > header {
        display: flex;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 1rem; } */

        /*@media (min-width: 1800px) {
          article > header {
          padding-bottom: 30rem; } }*/
    }
    
  
//
//STYLE: ???
.reader.fourth {
}

//
//STYLE: ???

.reader.fifth {
}

//
//STYLE: ???

.reader.sixth {
}
