$primary-color: #212121;
$font-primary: 'IBM Plex Sans', sans-serif;
$font-color: #f4f1d0;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-weight: 500;
    font-style: normal;
    font-size: 62.5%;
    line-height: 1.5;
}

body {
  background-color: $primary-color;
  font-family: $font-primary;
  color: $font-color;
  font-size: 1.6rem;
}


.container {
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 10vh 90vh minmax(max-content, auto) min-content;
  grid-template-columns: 6vw auto;
                       

  .navbar {
    background-color: rgb(49, 49, 192);
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    z-index: 15;
  }

  .sidenav {
    background-color: rgb(153, 80, 80);
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    overflow: hidden;
    position: fixed;
    top: 10vh;
    height: 100%;
    width: 6vw;

  }

  .reader {
    background-color: cadetblue;
    grid-row: 2 / 4;
    grid-column: 2 / -1;
  }

  .header {
    background-color: rgb(78, 158, 78);
    grid-row: 2 / 3;
    grid-column: 2 / -1;
  }

  .tutorial {
    background-color: darkslategray;
    grid-row: 3 / 4;
    grid-column: 2 / -1;
  }

  .footer {
    background-color: goldenrod;
    grid-row: 4 / -1;
    grid-column: 2 / 3;
  }

  /*.header {
    &__container {
     padding: 2rem;
     background-color: rgba($primary-color, 0.6);
     color: $font-color;
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr 1fr;
     grid-gap: 30px;
      
        &--logo {
         grid-row: 1 / 2;
         grid-column: 1 / 2;
        }
   
         &--menu {
           grid-row: 1 / 2;
           grid-column: 2 / 3;
           text-align: right;

           &--box {
            display: inline-block;
            padding: .375em .75em;
            border: 1px solid #f4f1d0;
            text-transform: uppercase;
            text-decoration: none;
           }
        }
     }
   }*/

   /*SIDEBAR DROPDOWN*/
   /* Fixed sidenav, full height */


/* Style the sidenav links and the dropdown button */

}

.hidden {
  display: none
}
